= link_to 'Edit Info', profile_edit_path
br
br
= @user.full_name.present? ? @user.full_name : '-'
br
= @profile.gender.present? ? @profile.gender : '-'
br
= @profile.about_me.present? ? @profile.about_me : '-'
br
= @profile.dob.present? ? @profile.dob : '-'
br
= @profile.hobbies.present? ? @profile.hobbies : '-'
br
= @profile.present_place.present? ? @profile.present_place : '-'
br
= @profile.native_place.present? ? @profile.native_place : '-'
br